@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Ubuntu:wght@400;500;700&display=swap');

$bg-dark: #1e2227;
$bg-light: #23272e;
$font-dark: #6d717b;
$font-light: #d7dae0;
$red: #e64a19;
$pink: #ff69b4;
$pink-2: #ff97d9;
$green: #4caf50;
$green-2: #8bc34a;
$sky-blue: #2196f3;
$sky-blue-2: #42d3e9;
$white: #ffffff;
$black: #000000;
$title-font: 'Ubuntu', sans-serif;
$text-font: 'Lora', serif;